@import "tailwindcss";

@theme {
  --color-primary: #17cf36;
  --color-primary-dark: #0e7d21;
  --color-background-light: #f6f8f6;
  --color-background-dark: #112114;
  --color-coffee-bean: #2D241E;
  --color-coffee-cream: #F3EFE0;
  --color-latte: #D4A373;
  
  --font-display: "Inter", sans-serif;
  
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
}

@layer base {
  body {
    @apply bg-background-light dark:bg-background-dark text-slate-900 dark:text-slate-100 antialiased font-display;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
